# IMPORTANT:  ' = ' entre variable i valor. El valor no ha de contenir ' = '

# Paràmetres connexió base de dades postgresql
BD_HOST =
BD_DATABASE =
BD_USER =
BD_PASS =
BD_PORT =
BD_SERVICE = gis_sjv

# Arxiu logo client amb path absolut (si no s'informa agafa del directori del plugin: /img/ESC0401.png)
ARXIU_LOGO =

# Arxiu QML amb path absolut (si no s'informa agafa del directori del plugin: qml/FitxaUrban.qml)
ARXIU_QML =

# Directori imatge punter (si no s'informa agafa del directori del plugin: img/FitxaUrban_punter.png)
ARXIU_PUNTER =

# Arxius amb els queries
# Si no s'informa agafa del directori del projecte sql_classificacio.txt, sql_general.txt, sql_zona.txt
SQL_CLASSIFICACIO =
SQL_GENERAL =
SQL_ZONA =

# Directori on hi han els arxius (si no s'informa agafa del directori del projecte la carpeta "html"):
# condicions_generals.htm, dotacio_aparcament.htm, regulacio_aparcament.htm, param_finca.htm i param_edificacio.htm
DIR_HTML =

# Directoris url's. Si no s'informa agafa dins DIR_HTML les subcarpetes:
# "annexos_claus", "classificacio", "ordenacions" i "sectors" respectivament
DIR_ANNEX =
DIR_CLAS =
DIR_ORD =
DIR_SEC =

# Ordre resultat query fitxa
REFCAT = 0
REFCAT_ITEM = refcat
AREA = 1
AREA_ITEM = area
ADRECA = 2
ADRECA_ITEM = adreca
CODI_CLASSI = 3
DESCR_CLASSI = 4
DESCR_CLASSI_ITEM = cla_descripcio
CODI_ZONES = 5
PERCENT_ZONES = 6
CODI_GENERAL_ZONES = 7
CODI_SECTOR = 8
DESCR_SECTOR = 9
DESCR_SECTOR_ITEM = sec_descripcio
ZONA_AREA_%_NAME = per_int
ZONA_AREA_%_MINIM = 3
ZONES_ITEMS = qua_codi,qua_descripcio,area_int,per_int,qg_tipus,qg_subzona,qg_definicio,tord_codi,tord_descripcio,hab_unifamiliar,hab_plurifamiliar,hab_rural,res_especial,res_mobil,hoteler,com_petit,com_mitja,com_gran,oficines_serveis,restauracio,recreatiu,magatzem,industrial_1,industrial_2,industrial_3,industrial_4,industrial_5,taller_reparacio,educatiu,sanitari,assistencial,cultural,associatiu,esportiu,serveis_publics,serveis_tecnics,serveis_ambientals,serveis_radio,aparcament,estacions_servei,agricola,ramader,forestal,lleure,ecologic,fondaria_edif,edificabilitat,ocupacio,densitat_hab,vol_max_edif,fondaria_edif_pb,pb,alcada,punt_aplic,sep_min,constr_aux_alcada,constr_auxo_cupacio,tanques,nplantes,alcada_lliure,entresol_pb,sotacoberta,pendent,terrasses,elem_sort,cossos_sort,cossos_annexes,porxos,tract_facana,comp_facana,prop_obertura,material_facana,material_coberta,fusteria,espai_lliure,altell,altres,front_min,parce_min,prof_min,circum_finsc

# Directori generació i exportacions a pdf's (si no s'informa agafa del directori del projecte la carpeta "pdfs")
DIR_PDFS =

# Directori pdf's multiusuari?  valors: SI o NO (per defecte)
DIR_PDFS_MULTI = NO

# nom item printlayout
PDF_UBICACIO = Fitxa 1 - Ubicació
PDF_ZONES = Fitxa 2 - Zones
PDF_SISTEMES = Fitxa 2 - Sistemes

# Visualitzar 1=totes les zones en un mateix pdf, 2=cada zona en un pdf, 3=les dues opcions a la vegada
PDF_ZONES_VISU = 1

# Nom Id i layer
ID_NAME = ninterno
LAYER_NAME = Parcel·lari
SELEC_NAME = Parcel·la seleccionada
MAPA_NAME = Mapa principal
LLEGENDA_NAME = Llegenda